streamlit
langchain
langchain-openai
langchain-community
faiss-cpu
openai
pandas
numpy
plotly
beautifulsoup4
sec-edgar-downloader
pypdf
tiktoken
python-dotenv
sentence-transformers
transformers
torch
requests
langchain-huggingface